@import url('https://fonts.googleapis.com/css?family=Proxima Nova:400,500,600,700,800');
.mb-1 {
    margin-bottom: -0.5em;
}
.cover {
    margin: 0;
}

/* Table - start */
table {
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
  width: 100%;
  display: table;
  margin: -1em 0em 2em 0em;
}

thead {
  display: table-row-group;
  border-bottom: 1px solid #ddd;
}

tr {
  display: table-row;
}

td,
th {
  padding: 1em .5em 1em 0;
  display: table-cell;
  text-align: left;
  vertical-align: top;
  display: table-cell;
  border-bottom: 1px solid #ddd;
}
/* Table - end */

/* Quote card - start */
.quote-container {
    display: flex;
    flex-wrap: wrap;
    margin: 3em 0 1em 0;
}

.quote {
    flex: 1;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #f9f9f9;
    padding: 1.5em 2em 0.5em 2em;
}

.quote-green {
    border-left: 4px solid #1FAD9F;
}
/* Quote card - end */

/* Tag - start */
.w3-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.w3-blue {
    color: #fff!important;
    background-color: #2196F3!important;
}
.w3-orange {
    color: #fff!important;
    background-color: #ff9800!important;
}
.w3-green {
    color: #fff!important;
    background-color: #4CAF50!important;
}
    
/* Tag - end */
    
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
	font-family: 'Proxima Nova', sans-serif;
    background: #fff;
	color: #111;
    margin: 5.2rem 0 1em 0;
}
img {
    width: 100%;
    image-rendering: auto;
    image-rendering: crisp-edges;
}
.icon {
    width: 3.8em;
}
.gly-rotate-45 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Buttons - start */
.btn {
	display: inline-block;
	padding: 0.85em 1em;
	letter-spacing: 0.05em;
	cursor: pointer;
	margin-bottom: 0.5em;
	margin-right: 0.2em;
	text-align: center;
}
.btn.btn-primary {
	background: #1FAD9F;
	border-color: #1FAD9F;
	color: #fff;
	font-size: 1em;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
	border-color: #178277;
	background: #178277;
}
.btn-light {
	color: #000;
	background-color: #eee;
	border-color: #eee;
}
.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light:active {
	border-color: #e1e1e1;
	background: #e1e1e1;
	color: #000;
}
.btn-dark {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}
.btn.btn-dark:hover, .btn.btn-dark:focus, .btn.btn-dark:active {
	border-color: #000;
	background: #000;
	color: #fff;
}
/* Buttons - end */

.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
	visibility: visible;
	color: #000;
	text-align: center;
	border-radius: .5em;
	font-size: .5em;
	margin-top: 2em/* Position the tooltip */
	position: absolute;
	z-index: 10;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
    margin-top: -0.5em;
}

/* Header nav - start */
.logo {
    position: absolute;
    width: 3.5em;
    margin-left: 0em;
    border: none !important;
    padding: 0.5em 1em !important;
    height: 3em !important;
}
.header {
    margin-right: 1.5em;
}
.navbar {
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #ddd;
    height: 3em;
    -webkit-backdrop-filter: blur(4em);
    backdrop-filter: blur(4em);
    background-color: rgba(255, 255, 255, 0.75); 
    z-index: 999;
}
.disable {
    cursor: default;
    color: #999 !important;
}
.border-right {
    border-right: 1px solid none;
    margin-right: -0.5em;
}
.navbar a {
    color:inherit;
    float: right;
    color: #000;
    border-left: 1px solid none;
    text-align: center;
    padding: 1em 1.2em;
    text-decoration: none;
}
.navbar a:hover {
	color: #000;
	outline: none;
}
.current {
    -moz-box-shadow: inset 0px -3px #000;
    -webkit-box-shadow: inset 0px -3px #000;
    box-shadow: inset 0px -3px #000;
}
/* Header nav - end */

/* Content container - start */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}
.grid {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.info {
	max-width: 70%;
    padding: 0 1em;
}
.item {
    margin: 1.5em 1em;
}

/* Content container - end */


/* Gallery container - start */
* {
	box-sizing: border-box;
}
.responsive {
    padding: 1em;
	float: left;
	width: 33.33%;
    
}
.responsive-two {
    padding: 0.5em 1em 0.75em 1em;
    float: left;
    width: 50%;
}
.responsive-four {
    width: 25%;
    float: left;
    padding: 1em;
}
.gallery {
    margin: 0 auto;
}
.gallery:hover {
    
}
.gallery img {
	width: 100%;
	height: auto;
}
/* Gallery container - end */


/* Text content - start */
.desc {
	text-align: left;
}

h1 {
	font-size: 2.8em;
    margin: 1em 0 0.5em 0;
    font-weight: 700;
    padding-top: 0.5em;
}
h2 {
	font-size: 2em;
    margin-bottom: 0.5em;
    line-height: 1.35em;
    font-weight: 700;
    margin-top: 1.75em;
}
h3 {
	font-size: 1.4em;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    font-weight: 700;
}
h4 {
	font-size: 1.1em;
    margin: 1.5em 0 0.5em 0;
    line-height: 1.4em;
    font-weight: 700;
}
h5 {
    font-size: 4em;
    line-height: 0;
    margin-bottom: 0.85em;
    margin-top: 1em;
    font-weight: 700;
}

p {
	font-size: 1.1em;
    line-height: 1.5em;
    color: #666;
    margin-top: 0
}

figure {
    float: left;
	font-size: 1em;
    line-height: 1.5em;
    color: #1FAD9F;
    margin: 0 0 -0.75em 0;
}

figcaption {
	font-size: 1em;
    line-height: 1.5em;
    color: #999;
    margin: 0.5em 0;
}
li {
    font-size: 1.15em;
    line-height: 1.6em;
    color: #666;
}
a {
    color: #1FAD9F;
    text-decoration: none;
    line-height: 1em;
    -webkit-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}
a:hover {
	color: #178277;
	outline: none;
}
/* Text content - end */

/* Footer - start */
footer {
    padding: 1em 0 0 0;
    text-align: left;
    border-top: 1px solid #ddd;
    margin: 4em 1em 0 1em;
    font-size: 0.8em;
}
.column-right {
    float: right;
    width: 50%;
    text-align: right;
    padding-left: 1em;
    margin-right: -0.5em;
}
.column-right a {
    padding: 0.5em;
    color:#000;
}
.column-left {
    float: left;
    width: 50%;
    margin-top: 0.25em;
}
/* Footer - end */

.column-two {
    width: 50%;
}
.column-four {
    width: 25%;
}

@media only screen and (max-width: 820px) {
    .header {
    margin-right: 1em;
    }
    .responsive {
		width: 50%;
	}
    .responsive-two {
        width: 100%;
    }
    .responsive-four {
        width: 50%;
    }
    .border-right {
    margin-right: 0em;
    }
}
@media only screen and (max-width: 768px) {
    .responsive-two {
		width: 50%;
	} 
    .info {
	max-width: 100%;
    }
    .container {
        padding: 0 1em;
    }
    .item {
    margin: 1.25em 1em 1.5em 1em;
    }
}
@media only screen and (max-width: 414px) {
    .responsive {
		width: 100%;
        padding: 0.75em 1em 0.5em 1em;
	}  
    .responsive-two {
		width: 100%;
	} 
    .item {
        margin: 1.5em -0.5em;
    }
    .indent {
        margin-left: 2em;
        margin-right: 2em;
    }
    .container {
        padding: 0 0.5em;
    }
     h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
	   font-size: 1.2em;
    }
    h4 {
        font-size: 1em;
    }
    p {
        font-size: 1em;
    }
    figcaption {
	font-size: 0.85em;
    line-height: 1.25em;
    }
    li {
    font-size: 1em;
    }
    ul {
    padding-inline-start: 1em;
    }
}
        
@media only screen and (max-width: 375px) {
   
}

@media print {
    html, body {
        display: none !important;
    }
}


/*
@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #fff;
	}
    h1, h2, h3, h4, h5, {
        color: #fff;
    }
    p {
        color: #bbb;
    }
    .current {
        border-bottom: 2px solid #fff;
    }
    .navbar {
        background-color: #000;
        border-bottom: 1px solid #444;
    }
    .navbar a {
        color: #fff;
    }
    .navbar a:hover {
	color: #fff;
    }
    footer {
        border-top: 1px solid #444;
    }
    .btn-dark {
	color: #fff;
	background-color: #333;
	border-color: #333;
    }
    .btn.btn-dark:hover, .btn.btn-dark:focus, .btn.btn-dark:active {
	border-color: #222;
	background: #222;
    }
    .quote {
    background: #333;
    }
    .column-right a {
    color: #fff;
    }
    td, th {
    border-bottom: 1px solid #444;
    }
    li {
    color: #bbb;
    }
}
*/
